<h1>Confirmation public title</h1>
<h2>Please confirm your information below</h2>
<ul class="list-group">
  <li class="list-group-item">
    <span>Product: </span> <span class="font-weight-bold">{{objPublicTitles.stateDescription}}</span>
  </li>
  <li class="list-group-item">
    <span>Application value: </span> <span class="font-weight-bold">app value</span>
  </li>
  <li class="list-group-item">
    <span>Title quantity: </span> <span class="font-weight-bold">qty</span>
  </li>
  <li class="list-group-item">
    <span>Title value: </span> <span class="font-weight-bold">{{objPublicTitles.stateValue | currency: 'BRL': true}}</span>
  </li>
  <li class="list-group-item">
    <span>Broker's rate: </span> <span class="font-weight-bold"> {{objPublicTitles.stateRate | currency: 'BRL': true}} </span>
  </li>
  <li class="list-group-item">
    <span>Yield: </span> <span class="font-weight-bold">yield value</span>
  </li>
  <li class="list-group-item">
    <span>expiry: </span> <span class="font-weight-bold">{{objPublicTitles.stateExpiry}}</span>
  </li>
</ul>

<hr>

<button class="btn btn-primary" (click)="clickConfirmationTitle(objPublicTitles.stateTitleCode)">Confirmation</button>