<h1>Titles available for application</h1>

<div *ngFor="let objPublicTitle of objPublicTitles">
  <!-- <p>{{objPublicTitle.description}}</p>-->
  <bm-card-public-titles
  [titleCode]="objPublicTitle.titleCode"
  [description]="objPublicTitle.description"
  [expiry]="objPublicTitle.expiry"
  [rate]="objPublicTitle.rate"
  [descriptionIndex]="objPublicTitle.descriptionIndex"
  [titleType]="objPublicTitle.titleType"
  [value]="objPublicTitle.value"
  (emitApplyClickTitle)="applyClickTitle(objPublicTitle.titleCode)"
  >
  <!-- (click)="applyClickTitle(objPublicTitle.titleCode)" -->
  </bm-card-public-titles>
</div>