<!-- <div class="col-sm-6 mb-6"> -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{description}}</h5>
      <!-- <p class="card-text"></p> -->
      <dl>
        <dt>Title type:</dt>
        <dd>{{titleType}}</dd>
        <dt>Expiry date:</dt>
        <dd>{{expiry | date:'dd/MM/yyyy'}}</dd>
        <dt>Rate:</dt>
        <dd>{{rate | currency: 'BRL':true}}</dd>
        <dt>Description index:</dt>
        <dd>{{descriptionIndex}}</dd>
        <dt>Yield:</dt>
        <dd>{{yield}}</dd>
        <dt>Title value:</dt>
        <dd>{{value | currency: 'BRL':true }}</dd>
      </dl>

      <button class="btn btn-primary" (click)="clickApplyTitle()">Apply</button>
      <!-- <a href="investments/direct-treasure/{{titleCode}}" class="btn btn-primary">Apply</a> -->
    </div>
  </div>
<!-- </div> -->