<div class="col-sm-6 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{description}}</h5>
      <!-- <p class="card-text"></p> -->
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Title type: </th>
            <td>{{titleType}}</td>
          </tr>
          <tr>
            <th scope="row">Expiry date: </th>
            <td>{{expiry}}</td>
          </tr>
          <tr>
            <th scope="row">Rate: </th>
            <td>{{rate}}</td>
          </tr>
          <tr>
            <th scope="row">Description index: </th>
            <td>{{descriptionIndex}}</td>
          </tr>
          <tr>
            <th scope="row">Title value: </th>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="clickApplyTitle()">Apply</button>
      <!-- <a href="investments/direct-treasure/{{titleCode}}" class="btn btn-primary">Apply</a> -->
    </div>
  </div>
</div>