<ul class="list-group">
  <li class="list-group-item">
    <span>description: </span> {{objPublicTitles.stateDescription}}
  </li>
  <li class="list-group-item">
    <span>descriptionIndex: </span> {{objPublicTitles.stateDescriptionIndex}}
  </li>
  <li class="list-group-item">
    <span>titleCode: </span> {{objPublicTitles.stateTitleCode}}
  </li>
  <li class="list-group-item">
    <span>titleType: </span> {{objPublicTitles.stateTitleType}}
  </li>
  <li class="list-group-item">
    <span>expiry: </span> {{objPublicTitles.stateExpiry}}
  </li>
</ul>