
<div class="container">
  <h1>Contraction public title</h1>
  <div class="row">
    <div class="col-12">
    <h2 class="font-weight-bold">{{objPublicTitles.stateDescription}}</h2>
      <h3>Product details</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <span>Value to apply: </span>
          <input 
            readonly
            class="form-control font-weight-bold" 
            type="text" 
            #valueToApply 
            id="valueToApply" 
            placeholder="{{objPublicTitles.stateValue | currency: 'BRL': true}}" 
            value="{{objPublicTitles.stateValue | currency: 'BRL': true}}"
            (keypress)="valueChange(objPublicTitles.stateValue)">
        </li>
        <li class="list-group-item">
          <span>Minimal title application: </span>
          <select 
            #titlePart 
            class="custom-select"
            (change)="valueChange(objPublicTitles.stateValue)">
              <option selected value="0.01">0.1</option>
              <option value="0.2">0.2</option>
              <option value="0.3">0.3</option>
              <option value="0.4">0.4</option>
              <option value="0.5">0.5</option>
              <option value="0.6">0.6</option>
              <option value="0.7">0.7</option>
              <option value="0.8">0.8</option>
              <option value="0.09">0.9</option>
              <option value="0.1">1</option>
          </select>
          <!-- <input 
            type="text" 
            class="form-control font-weight-bold" 
            id="quantityTitleApplication" 
            placeholder="0,01" 
            value="0,01"> -->
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-switch">
            <label class="custom-control-label" for="customSwitch1">Repeat monthly </label>
            <input type="checkbox" class="custom-control-input" id="repeatMonthly">
          </div>
        </li>
      </ul>
      <hr>
      <h3>Product details</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <span>Title value: </span> <span class="font-weight-bold"> {{objPublicTitles.stateValue | currency: 'BRL': true}}</span>
        </li>
        <li class="list-group-item">
          <span>Yields: </span> <span class="font-weight-bold"> need a json with yield list</span>
        </li>
        <li class="list-group-item">
          <span>Broker's rate: </span> <span class="font-weight-bold"> {{objPublicTitles.stateRate | currency: 'BRL': true}} </span>
        </li>
        <li class="list-group-item">
          <span>Index: </span> <span class="font-weight-bold"> {{objPublicTitles.stateDescriptionIndex}}</span>
        </li>
        <li class="list-group-item">
          <span>Title type: </span> <span class="font-weight-bold"> {{objPublicTitles.stateTitleType}}</span>
        </li>
        <li class="list-group-item">
          <span>Expiration date: </span> <span class="font-weight-bold"> {{objPublicTitles.stateExpiry | date:'dd/MM/yyyy'}}</span>
        </li>
      </ul>
      <button class="btn btn-primary mt-3 mb-3 w-100" (click)="clickContractTitle(objPublicTitles.stateTitleCode)">Contract</button>
    </div>

  </div>

</div>
