<ul class="list-group">
  <li class="list-group-item">
    <span>description: </span> {{objPublicTitles.description}}
  </li>
  <li class="list-group-item">
    <span>descriptionIndex: </span> {{objPublicTitles.descriptionIndex}}
  </li>
  <li class="list-group-item">
    <span>titleCode: </span> {{objPublicTitles.titleCode}}
  </li>
  <li class="list-group-item">
    <span>titleType: </span> {{objPublicTitles.titleType}}
  </li>
  <li class="list-group-item">
    <span>expiry: </span> {{objPublicTitles.expiry}}
  </li>
</ul>